{% extends base %}
{% block title %}
  Add Shop
{% endblock title %}
{% block header %}
{%endblock%}
{% block mainDasboard %}
            
  
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
        <div class="white-box">
          <h4>Add Shop</h4>
          <small>
            Add shop to your store
          </small>
          
          <form action="" method="post" enctype="multipart/form-data">
            <div class="row mt-3">
              <div class="col-md-3 col-12">
                {{form.shop_name.label_tag}}
                {{form.shop_name}}
                {{form.shop_name.errors}}
              </div>
              <div class="col-md-3 col-12">
                {{form.VAT.label_tag}}
                {{form.VAT}}
                {{form.VAT.errors}}
              </div>
              <div class="col-md-3 col-12">
                {{form.address.label_tag}}
                {{form.address}}
                {{form.address.errors}}
              </div>
              <div class="col-md-3 col-12">
                {{form.shop_number.label_tag}}
                {{form.shop_number}}
                {{form.shop_number.errors}}
              </div>
              <div class="col-12 col-md-12">
                {{form.image.label_tag}}
                {{form.image}}
                {{form.image.errors}}
              </div>
            </div>
          
            <br>
            {% csrf_token %}
            <input class="btn btn-outline-dark" type="submit" value="Add Shop">
          </form>
        </div>
    </div>
</div>
  
</div>
{% endblock mainDasboard %}