
{% extends base %}
{% load static %}
{% block title %}
  View Your Shop List
{% endblock title %}
{% block header %}
{%endblock%}
{% block mainDasboard %}
            
<style>
  .makechange{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(37, 37, 37, 0.19);
    
  }
  .makechange:hover{
      box-shadow: 0 18px 10px 0 rgba(0, 0, 0, 0.2), 0 16px 40px 0 rgba(27, 27, 27, 0.19);
      transition: all 200ms ease-out;
  }
  .makeShop{
      height:160px;
  }
  .shop-image {
      height: 130px; 
      width:100%;
  }
</style>
  
<div class="container-fluid">
    
    {% if messages %}
        {%for m in messages%}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Great!</strong> {{m}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {%endfor%}
    {% endif %}
        
  <div class="row">
      <div class="col-12 col-md-12">
        <h4 class="d-inline">View Shop added by You</h4>
        <a href="{%url 'shop:allShop'%}" class="btn btn-outline-dark float-right">View All Shop</a>
        <hr>
      </div>
        
        {% for s in shop  %}
        <div class="col-md-3 col-6 p-2">
          <a href="{%url 'shop:shopProduct' s.id%}" style="color: black;">
          <img  class="m-auto" src="{%if s.image%}{{s.image.url}}{%else%}{%static 'images/posts/5.jpg'%}{%endif%}" alt="" style="height: 50%; width:100%;">
         
          <article class="card card-body makechange makeShop">
              <figure class="text-center">
                  <!-- <img src="{%if s.image%}{{s.image.url}}{%else%}{%static 'images/posts/5.jpg'%}{%endif%}" alt="" srcset="" style="height:100px; width:100px;"> -->
                  <figcaption class="p-0">
                  <p class="title p-0 m-0" style="font-size: 13px;"> <b>{{s.shop_name|capfirst|truncatewords:3}}</b></p>
                  <small class="p-0 m-0 d-block">{{s.address|capfirst}}</small> 
                  <small class="p-0 m-0 d-block">{{s.shop_number}}</small> 
                  <hr>
                  <a href="{%url 'staff:editShop' s.id%}">
                    <div class="btn btn-sm btn-primary">
                      <i class="fa fa-edit"></i> Edit
                    </div>
                  </a>
                  </figcaption>
              </figure> <!-- iconbox // -->  
          </article> <!-- panel-lg.// -->
        </a>
          
        </div>
     
        {% endfor %}
  </div>  
</div>
{% endblock mainDasboard %}