{% extends base %}
{% block title %}
  Change Password
{% endblock title %}
{% block header %}
{%endblock%}
{% block mainDasboard %}
<style>
    .ch{
        border: none;
    }
</style>
<div class="container-fluid">
    {% if messages %}
        {%for m in messages%}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
             {{m}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {%endfor%}
    {% endif %}
    
<div class="row">
   
    <div class="col-lg-12 col-xlg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="p-1">Change Your Password</h4>
                <hr>
                <form class="form-horizontal form-material" method="POST">
                    <div class="form-group mb-4">
                
                        <div class="row p-3">
                            
                            {% for field in form  %}
                            <div class="col-md-12 border-bottom p-2">
                                {{ field }}
                                <!-- {{ field.help_text | safe }} -->
                                {% if field.errors %}
                                {{ field.errors }}
                                {% endif %}
                             </div>
                            {% endfor %}
                        </div>     
                    </div>
                   {% csrf_token %}
                    <div class="form-group mb-4">
                        <div class="col-sm-12">
                            <button type = "submit" class="btn btn-success">Change Password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>

</div>
  
{% endblock mainDasboard %}

