{% extends 'base.html' %}
{% load static %}
{% block title %}
  View All Shop
{% endblock title %}
{% block customstyle %}
<style>
    .makechange{
      cursor: pointer;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(37, 37, 37, 0.19);
      
    }
    .makechange:hover{
        box-shadow: 0 18px 10px 0 rgba(0, 0, 0, 0.2), 0 16px 40px 0 rgba(27, 27, 27, 0.19);
        transition: all 200ms ease-out;
    }
    .makeShop{
        height:110px;
    }
    .shop-image {
      height: 130px; 
      width:100%;
    }
</style>
<link rel="icon" type="image/png" sizes="16x16" href="{%static 'dashboard/plugins/images/favicon.png'%}">

<link href="{%static 'css/design.css'%}" rel="stylesheet">
{% endblock customstyle %}
{% block content %}
<div class="container-fluid" style="background-color: #edf1f5;">
    <div class="row">
        <div class="col-12 col-md-12">
          <h5 class="p-3">All Shop</h5>
          <hr>
        </div>
        {% for s in shop  %}
        <div class="col-md-2 col-6 p-2">
          <a href="{%url 'shop:shopProduct' s.id%}" style="color: black;">
          <img  class="m-auto" src="{%if s.image%}{{s.image.url}}{%else%}{%static 'images/posts/5.jpg'%}{%endif%}" alt="" style="height: 50%; width:100%;">
          <article class="card card-body makechange makeShop">
              <figure class="text-center">
                  
                  <!-- <img src="{%if s.image%}{{s.image.url}}{%else%}{%static 'images/posts/5.jpg'%}{%endif%}" alt="" srcset="" style="height:100px; width:100px;"> -->
                  <figcaption class="p-0">
                  <p class="title p-0 m-0" style="font-size: 13px;"> <b>{{s.shop_name|capfirst|truncatewords:3}}</b></p>
                  <small class="p-0 m-0 d-block">{{s.address|capfirst}}</small> 
                  <small class="p-0 m-0">{{s.shop_number}}</small> 
                  </figcaption>
              </figure> <!-- iconbox // -->
          </article> <!-- panel-lg.// -->
          </a>
        </div>
        {% endfor %}
  </div>
    
  </div>
{% endblock content %}