{% extends 'owner/ownerDashboard.html' %}
{% load static %}
{% block title %}
  Seller List 
{% endblock title %}
{% block header %}
{%endblock%}
{% block mainDasboard %}
            
  
<div class="container-fluid">
    
    {% if messages %}
        {%for m in messages%}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Great!</strong> {{m}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {%endfor%}
    {% endif %}
        
  <div class="row">
      <div class="col-12 col-md-12">
        <h4 class="d-inline">View Seller added by You</h4>
        <hr>
      </div>
        
        {% for c in seller  %}
        <div class="col-12 col-md-3">
            <div class="white-box">
                <div class="row">
                    <div class="col-4">
                        <img src="{%if c.profile_pic%}{{c.profile_pic.url}}{%else%}{%static 'images/posts/5.jpg'%}{%endif%}" alt="" srcset="" style="height: 50px; width:100%; border-radius: 30px;">
                    </div>
                    <div class="col-8">
                        <h5>{{c.admin.first_name}} {{c.admin.last_name}}
                            
                        </h5>
                        {%if c.verified%}
                            <small>verified <i class="fas fa-check-circle" style="color:blue"></i></small>
                            {%else%}
                            {%endif%}
                        <p style="font-size: 16px;">{{c.number}} </p>
                        <p>{{c.street}}</p>
                        <small class="d-block">Added by - {{c.added_by}}</small>
                        <div class="btn-group btn-group-sm">
                            <a href="{%url 'owner:viewSeller' c.id%}">
                                <button class="btn btn-primary">
                                    View
                                </button>
                            </a>
                           
                            <a href="{%url 'owner:editSeller' c.id%}">
                                <button class="btn btn-warning">
                                    Edit
                                </button>
                            </a>
                           
                    
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- <div class="col-lg-4 col-xlg-3 col-md-12 col-6">
            <div class="white-box">
                <div class="user-bg"> <img width="100%" alt="user" src="{%if c.profile_%}{{c.image.url}}{%else%}{%static 'images/posts/5.jpg'%}{%endif%}">
                    <div class="overlay-box">
                        <div class="user-content">
                            <a href="javascript:void(0)"><img src="{%if c.image%}{{c.image.url}}{%else%}{%static 'images/posts/5.jpg'%}{%endif%}" class="thumb-lg img-circle" alt="img"></a>
                            <h4 class="text-white mt-2">{{c.name}}</h4>
                            <h5 class="text-white mt-2">Created By: {{c.created_by.email}}</h5>
                        </div>
                    </div>
                </div>
                <div class="user-btm-box mt-5 d-md-flex">
                    <div class="m-auto text-center">
                        <h4>{{c.name|capfirst}}</h4>
                    </div>
                </div>
            </div>
        </div> -->
        {% endfor %}
            
        

</div>  
</div>
{% endblock mainDasboard %}