{% extends 'owner/ownerDashboard.html' %}
{% load static %}
{% block title %}
  View Seller {{s.admin.first_name}}
{% endblock title %}
{% block header %}
{%endblock%}
{% block mainDasboard %}
<style>
    .makechange{
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(37, 37, 37, 0.19);
        
    }
    .makechange:hover{
        box-shadow: 0 18px 10px 0 rgba(0, 0, 0, 0.2), 0 16px 40px 0 rgba(27, 27, 27, 0.19);
        transition: all 200ms ease-out;
    }
    .makeShop{
        height:110px;
    }
    
    .shop-image {
        height: 130px; 
        width:100%;
    }

    </style>          
  
<div class="container-fluid">
    
    <div class="row">
      <div class="col-12 col-md-12">
        <h4 class="d-inline">{{s.admin.first_name}} Information</h4>
        <hr>
      </div>
    </div>  
    <div class="row">
        <!-- Column -->
        
        <div class="col-lg-4 col-xlg-3 col-md-4 col-12">
            <div class="white-box">
                <div class="user-bg"> <img width="100%" alt="user" src="{%if s.KYC%}{{s.KYC.url}}{%else%}{%static 'images/brand.png'%}{%endif%}">
                    <div class="overlay-box">
                        <div class="user-content">
                            <a href="javascript:void(0)"><img src="{%if s.KYC%}{{s.KYC.url}}{%else%}{%static 'images/brand.png'%}{%endif%}" class="thumb-lg img-circle" alt="img"></a>
                            <h4 class="text-white mt-2">{{s.admin.first_name}}{{s.admin.last_name}}</h4>
                            <h5 class="text-white mt-2">{{s.admin.email}}</h5>
                            <small>{{s.number}}</small>
                            <small>{{s.Temporary_address}}</small>
                        </div>
                    </div>
                </div>
                <div class="user-btm-box mt-5 d-md-flex">
                    <div class="col-md-12 col-sm-12 text-center">
                        <p>Total Shop: {{c}}</p>
                        <p>Total Product: {{p}}</p>
                    </div>
                 
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-8 col-xlg-9 col-md-8 col-12">
            <h3>Seller Shop</h3>
            <hr>
            <div class="row">
                {% for s in shop  %}
                <div class="col-md-4 col-6 p-2 mb-0">
                    <a href="{%url 'shop:shopProduct' s.id%}" style="color: black;">
                        <img class="shop-image" class="m-auto" src="{%if s.image%}{{s.image.url}}{%else%}{%static 'images/posts/5.jpg'%}{%endif%}" alt="" >
                        <article class="card card-body makechange makeShop">
                            <figure class="text-center">
                                <figcaption class="p-2">
                                <p class="title" style="font-size: 13px;"> <b>{{s.shop_name|capfirst|truncatewords:3}}</b></p>
                                <small class="p-0 m-0 d-block">{{s.address|capfirst|truncatewords:2}}</small> 
                                <small class="p-0 m-0">{{s.shop_number}}</small> 
                                </figcaption>
                            </figure> <!-- iconbox // -->
                        </article> <!-- panel-lg.// -->
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Column -->
    </div>
</div>
{% endblock mainDasboard %}